.header{
    background-color:olivedrab;
    color:white;
    text-align:center;
}
.odd-row{
    background-color: sandybrown;
}
    
.even-row{
    background-color:indianred
}
table{
    width: 100%;
    font-family: Helvetica; 
}