.about{
    background-color:violet;
}
img{
    width:400px;
    height:300px;
}
img:hover{
    width: 500px;
    height:400px;
    transition: 0.4s;
}
.intro{
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:purple;
}
.showcase{
    background-color:red;
}
.albums{
    width:250px;
    height:250px;
}
.albums:hover{
    height:300px;
    width: 450px;
    transition: 0.4s;
}
#title2{
    background-color:black;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.background2{
    background-color:rgb(190, 190, 242);
}
.mainpage{
    background-image:url(theweeknd2.jpg)
}
#mainpageinfo{
    background-color:black;
    width:70%;
    margin:15px;
    padding:10px;
    color:white;
}
#maintitle{
    background-color:red;
}
#navigate{
    background-color:crimson;
}
h3{
    color:blue;
}
#link1:hover{
    font-size:30px;
}
#link2:hover{
    font-size:30px;
}
#link3:hover{
    font-size:30px;
}
.contact{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:blueviolet;
}
#top5{
    background-color:black;
    color:white;
}
#top5part2{
    background-color:blueviolet;
    color:black;
}
.about1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:purple;
}
.abouttitle{
    background-color:purple;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}